<!-- Every form element must start with:  --> 



TYPE:   textarea      text     checkbox     radio      select     selectmultiple

#E = starts from 1
#SE = starts from 0

<div id="cfgenwp-elementbuilder-#E" class="cfgenwp-fb-element-c" data-cfgenwp_element_type="#TYPE" data-cfgenwp_element_id="#E">	

    <label class="cfgen-label control-label font-w-n" id="cfgen-element-#E-label" > 
        <span class="cfgen-label-value">TITLE</span>
    </label>
    

    HERE ADD YOUR CODE!
    
</div>


<!-- TEXT  -->
<div class="cfgen-input-c" id="cfgen-element-#E-input-c" >
    <input type="text" class="form-control" name="cfgen-element-#E" id="cfgen-element-#E" placeholder="ENTER SOMETHING" >
</div>


<!-- TEXT-AREA  -->
<div class="col-md-8 cfgen-input-c" id="cfgen-element-#E-input-c" >
    <textarea  rows="2" cols="20" class="form-control" autocomplete="off" name="cfgen-element-#E" id="cfgen-element-#E" placeholder="ENTER SOMETHING" value=""></textarea>
</div>


<!-- RADIO  -->
<div class="form-group">

    <div class="radio">
		<label> 
            <input type="radio" class="cfgen-form-value flat" name="cfgen-element-#E[]" id="cfgen-element-#E-#SE" value="VALUE">
            <label for="cfgen-element-#E-#SE">VALUE</label> 
        </label>
    </div>
    
</div>


<!-- CHECKBOX  -->
<div class="form-group" >

        <div class="checkbox">
            <label> 
                <input type="checkbox" class="cfgen-form-value flat" name="cfgen-element-#E[]" id="cfgen-element-#E-#SE" value="VALUE">
                <label for="cfgen-element-#E-#SE">VALUE</label> 
            </label>
        </div>

</div>



<!-- END EVERY FORM WITH:  -->

<div class="modal-footer text-left">
	<div class="row">
	  <div class="col-md-9 pull-right">
	     <div id="hint_msg1" class="text-left"></div>
	  </div>
	  <div class="col-md-3 text-right pull-left">
		  <!--button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button-->
		  <div class="cfgen-input-c" id="cfgen-element-#E-input-c" >
			 <button type="button"  name="submit_btn" id="submit_btn" class=" cfgen-submit btn btn-primary"  >Save</button>
		  </div>
	  </div>
	</div>
</div>







<!--  

========= BOORSTRAP CLASSES =========

divider-dashed
-------------------
FLOAT: 
pull-right
pull-left
-------------------
ALIGNMENT:
text-left
text-right
text-center
text-justify


========= CSS STYLES =========

font-family: "Droid Arabic Kufi", Times, serif;

  -->